.planebox{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.plane{
  width: 300px;
  height: 100px;
  background-color: black;
}

.message {
  min-width: 200px;
  height: 70px;
  background-color: blue;
  border-color: purple;
  border-style: solid;
  border-width: 15px;
}
